{% extends 'base.html' %}


{% block title %} Ajouter {% endblock %}

{% block content %}
    <h1>Ajouter une task</h1>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-row">
                {% for field in add_form %}
                    <div class="form-group col-md-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="error"> {{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <label for="id_category">Catégorie</label>
                <select id="id_category" class="form-control" name="category">
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <p>
                <button type="submit" class="btn btn-primary action-btn">Ajouter une task</button>
            </p>
        </div>
    </form>

{% endblock %}